body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* ~~ Top Navigation Bar ~~ */
#navigation-container {
  width: 95%;
  margin: 0 auto;
  height: 100px;
}

.navigation-bar {
  height: 100px;
  width: 100%;
  text-align: center;
}
.navigation-bar img{
  padding: 4px;
  float:left;
}
.navigation-bar ul {
  padding: 20px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  float: left;
  height: 100px;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

#menu {
  float: right;
}

.gallery {
  position: relative;
}

.desc {
  position: absolute;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 20px 5px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-align: center;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 3px 3px;
}

/* Remove extra left and right margins, due to padding */
.row {
  padding: 3px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 1500px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  text-align: center;
  border: solid;
}
